<div class="project-activity">
  <h2><i class="fas fa-history"></i> Activité Récente</h2>

  <div *ngIf="isLoading">Chargement des commentaires...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="activity-list" *ngIf="!isLoading && !error && commentaires.length === 0">
    <p>Aucun commentaire récent.</p>
  </div>

  <div class="activity-list" *ngIf="commentaires.length > 0">
    <ng-container *ngFor="let comment of commentaires">
      <div class="activity-item">
        <div class="activity-avatar">
          <img [src]="comment.auteurPhotoProfilUrl || 'https://ui-avatars.com/api/?name=' + encodeURIComponent(comment.auteurNomComplet)" alt="User">


        </div>
        <div class="activity-content">
          <div class="activity-header">
            <span class="activity-user">{{ comment.auteurNomComplet }}</span>
            <span class="activity-time">{{ comment.creationDate | date:'shortDate' }}</span>
          </div>
          <p class="activity-text">{{ comment.contenu }}</p>

          <!-- Affichage récursif des réponses -->
       <div *ngIf="comment.reponses && comment.reponses.length > 0" class="reponses-list" style="margin-left: 30px; border-left: 2px solid #ddd; padding-left: 10px;">

            <ng-container *ngFor="let reponse of comment.reponses">
              <div class="activity-item">
                <div class="activity-avatar">
                  <img [src]="reponse.auteurPhotoProfilUrl || 'https://ui-avatars.com/api/?name=' + encodeURIComponent(reponse.auteurNomComplet)" alt="User">
                </div>
                <div class="activity-content">
                  <div class="activity-header">
                    <span class="activity-user">{{ reponse.auteurNomComplet }}</span>
                    <span class="activity-time">{{ reponse.creationDate | date:'shortDate' }}</span>
                  </div>
                  <p class="activity-text">{{ reponse.contenu }}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
