.card{
    height: auto;
    width: 290px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
    
}

.card .titres{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 0px 20px;
}
.card .titres .category{
    background-color: #FFEBEE;
    width: 75px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #C62828;
    font-weight: 800;
}

.card .titres .coins{
    
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #FF9800;
    font-weight: 800;
}
.card .titres .coins i{
    margin-right: 10px;
}

.info{
    padding: 0 20px;
    margin-top: 10px;
}
.info h1{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}
.info p{
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    margin-top: 10px;
}
.details i{
    color: #4CAF50;
    font-size: 1.2rem;
    margin-right: 10px;}
.details .langages{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F5E9;
    border-radius: 50px;
    padding: 5px 10px;
    gap: 10px;
}
.details .taches{
    display: flex;
    align-items: center;
    gap: 10px;
}

.divider{
    height: 1px;
    background-color: #E0E0E0;
    margin: 20px 20px 0px 20px;
    padding: 0 20px;
}

.progressbar {
    width: 90%;
    height: 10px;
    background-color: #E0E0E0;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px auto;
}
.progressbar .bar {
    height: 100%;
     background: linear-gradient(90deg, #4CC9F0, var(--primary-color)); /* ✅ CORRECT */
    width: 70%; /* Adjust this value to represent progress */
    transition: width 0.3s ease;
    border-radius: 5px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}
.buttons button{
/* ✅ CORRECT */
background: none;
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transition);
    margin-bottom: 10px;
    margin-top: 10px;
}