<div class="card">
    <div class="titres">
        <div class="category">
            SANTE
        </div>
        <div class="coins">
            <i class="fas fa-coins"></i>
            <span>100</span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="info">
        <h1>Plateforme de télémédecine</h1>
        <p>Une solution innovante pour des consultations médicales à distance.Application mobile pour consultations
médicales à distance avec suivi des 
patients.</p>
    </div>
    <div class="details">
        <div class="langages">
            
            <span>Python</span>
        </div>
        <div class="langages">
            
            <span>mobile</span>
        </div>
        <div class="langages">
            
            <span>Aws</span>
        </div>
        
    </div>
    <div class="divider"></div>
   
    <div class="buttons">
        <button (click)="onJoinProject()">Rejoindre le projet</button>
    </div>
    
</div>