.title{
    margin: 20px 30px;
    font-size: 15px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title span {
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}