.forget-password-container {
  display: flex;
  min-height: 100vh;

  .section-gauche {
    flex: 1;
    background: linear-gradient(to bottom, #1e3cfd, #6bbaff);
    color: white;
    text-align: center;
    padding: 50px 20px;

    .logo {
      width: 50px;
      margin-bottom: 20px;
    }

    p {
      top: 10px;
      margin-top: 0;
      font-size: 16px;
    }
  }

  .section-droit {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .contour {
      width: 350px;
      background: white;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      padding: 30px;
      border-radius: 10px;

      h2 {
        margin-bottom: 20px;
        font-weight: bold;
      }

      label {
        margin-top: 15px;
        font-size: 14px;
        display: block;
      }

      input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-top: 5px;
      }

      .input-icon {
        position: relative;

        i {
          position: absolute;
          top: 60%;
          left: 10px;
          transform: translateY(-50%);
          color: #999;
        }

        input {
          padding-left: 30px;
        }
      }

      .validationpassord {
        margin: 10px 0;
        font-size: 12px;
        padding-left: 18px;

        li {
          list-style-type: disc;
        }
      }

      button {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: linear-gradient(to right, #1e3cfd, #6bbaff);
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
