.card{
    height: auto;
    width: 300px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
    ;


}

.card .titres{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.card .titres .category{
    background-color: #FFEBEE;
    width: 75px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #C62828;
    font-weight: 800;
}

.card .titres .coins{

    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #FF9800;
    font-weight: 800;
}
.card .titres .coins i{
    margin-right: 10px;
}

.info{
    padding: 0 20px;
    margin-top: 10px;
}
.info h1{
    font-size: 1.0rem;
    color: #333;
    margin-bottom: 10px;
      /* Ellipsis */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info p{
    font-size: 0.7rem;
    color: #666;
    margin-bottom: 20px;
    /* Ellipsis sur plusieurs lignes */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* nombre de lignes à afficher */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 10px;
}
.details i{
    color: #4CAF50;
    font-size: 1.2rem;
    margin-right: 10px;}
.details .collaborateurs{
    display: flex;
    align-items: center;
    gap: 10px;
}
.details span{
    font-size: 0.8rem;
    color: #666;
}
.details .taches{
    display: flex;
    align-items: center;
    gap: 10px;
}

.divider{
    height: 1px;
    background-color: #E0E0E0;
    margin: 20px 20px 0px 20px;
    padding: 0 20px;
}

.progressbar {
  width: 90%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px auto;
}

.progressbar .bar {
  height: 100%;
  transition: width 0.4s ease, background 0.3s ease;
  border-radius: 5px;
}

.complet{
    padding: 0 20px;
    margin-top: 10px;
    position: relative;
    top: -10px;

}
.complet span{
 margin-bottom: 10px;
}
